.index {
  padding-top: 100px;
  height: 100%;
  min-height: 100vh;
  background-color: #99CCCC;
  &__main {
    padding: 15px;
    &__title {
      font-size: 25px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 2px 3px black;
      font-weight: 500;
      margin: 10px 0;
    }
    &__no-list {
      font-size: 20px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 2px 3px black;
      font-weight: 500;
      margin: 50px 0;
    }
    &__list {    
      display: block;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 75vh;
      &__content {
        border: 1px solid black;
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 1px;
        padding: 5px 5px 5px 10px;
        .data-wrapper {
          font-size: 18px;
          color: darkcyan;
          margin-right: 10px;
        }
        .list-property {
          border-top: 1px solid darkcyan;
          a {
            color: black;
            .link-ship {
              margin-left: 5px;
            }
            .link-edit {
              margin-left: 10px;
            }
          }
          .link-trash {
            margin-left: 10px;
          }
        }
      }
    }
  }
}