= render partial: 'header'
.index
  .index__main
    .index__main__title 在庫一覧
    %ul.index__main__list
      - @product.each_with_index do |product|
        %li{class: "index__main__list__content", data: {id: product.id}}
          %div
            = product.name
          %div
            %span.data-wrapper
              %span
                数量：
              %span
                = product.quantity
            %span.data-wrapper
              %span
                更新日:
              %span
                = product.updated_at.to_date
          